<%- contentFor('body')  %>

<div class="jumbotron">
    <h2>Alunos cadastrados</h2>
    <p>Lista de alunos cadastrados no sistema.</p>

    <a href='/register/add' class="btn btn-default"><i class="fas fa-plus"></i> Cadastrar novo aluno</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Receber email</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>

            <% let linkRemove="/register/remove"; %>
            <% let linkUpdate="/register/update"; %>

            <% for(let index=0; index < users.length; index++){ %>
                <tr data-index-row="<%=index%>">
                    
                <td data-index-row="<%=index%>">
                    <span  class="show"><%= users[index].name %></span>
                    <input type="text" name="name"  class="hidden" value="<%= users[index].name %>">
                </td>

                <td data-index-row="<%=index%>">
                    <span  class="show"><%= users[index].email %></span>
                    <input type="text" name="address"  class="hidden" value="<%= users[index].email %>">
                </td>

                <td data-index-row="<%=index%>">
                    <span  class="show"><%= users[index].vote ? "Sim" : "Não" %></span>
                    <input type="text" name="vote" class="hidden" value="<%= users[index].vote %>">
                </td>

                <td data-index-row="<%= index %>" class="hidden">
                    <input type="button" value="Atualizar" class="show">
                </td>
               
                <td  data-index-row="<%= index %>">
                    <div class="inline-button-list">
                        <a onclick="update('<%= index%>','<%= linkUpdate %>')" class="show"><i class="fas fa-pen"></i></a>
                        <a class="show" onclick="remove('<%= index %>','<%= linkRemove %>')"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </td>

                </tr>
            <% } %>

        </tbody>
    </table>
</div>