<%- contentFor('body')  %>

<div class="jumbotron table-responsive-xl">
    <h2>Alunos cadastrados</h2>
    <p>Lista de alunos cadastrados no sistema.</p>

    <a href='/register/add' class="btn btn-default"><i class="fas fa-plus"></i> Cadastrar novo aluno</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th title="Nome do aluno">Nome</th>
            <th title="Email do aluno">Email</th>
            <th title="Caso o aluno deseje recerber emails sobre as aulas">Receber email</th>
            <th >Ação</th>
        </tr>
        </thead>
        <tbody>
            
            <% let linkRemove="/register/remove"; %>
            <% let linkUpdate="/register/update"; %>

            <% for(let index=0; index < users.length; index++){ %>
                <tr data-index-row="<%=index%>">
                    
                <td data-index-row="<%=index%>">
                    <span  class="show"><%= users[index].name %></span>
                    <input type="text" name="name"  class="hidden" value="<%= users[index].name %>">
                </td>

                <td data-index-row="<%=index%>">
                    <span  class="show"><%= users[index].email %></span>
                    <input type="email" name="email" class="hidden" value="<%= users[index].email %>">
                </td>

                <td data-index-row="<%=index%>">
                    <span  class="show"><%= users[index].vote ? 'Sim' : 'Não' %></span>
                    <input type="text" name="vote" class="hidden" value="<%= users[index].vote ? 'Sim' : 'Não' %>">
                </td>

                <td data-index-row="<%= index %>">
                    <input type="button" value="Atualizar" class="hidden" onclick="update('<%= index%>','<%= linkUpdate %>')">
                <!-- </td>
            
                <td data-index-row="<%= index %>" > -->
                    <div class="inline-button-list" id="icon-buttons" class="show">
                        <a onclick="show_edit_inputs('<%= index%>')" class="show"><i class="fas fa-pen"></i></a>
                        <a onclick="remove('<%= index %>','<%= linkRemove %>')" class="show"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </td>

                </tr>
            <% } %>

        </tbody>
    </table>
</div>